$orange: rgb(255, 123, 0);

#portfolio {
    padding-top: 40px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.project {
    flex:1;
    // background-color: blue;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
        margin: 20px;
    }

    span {
        color: $orange;
        font-weight: 600;
    }

    .work_margin {
       margin-top: -10px; 
    }
}

.project_about {
    // margin-top: -10px !important;

    p {
        max-width: 500px;
    }
}

section {
    margin-bottom: 30px;
}

section:nth-child(3){
    width: 100%;
}

section article img { //github and arrow icons
    margin-left: -10px;
    padding: 10px;
}

section article img:active{
    opacity: .5;
}

.portfolio_img {
    box-shadow: 1px 1px 2px silver;
    border-radius: 20px;
    width: 250px;
    height: 450px;
    padding: 1px;
    margin-bottom: 10px;
}

.wrestlemania_img {
    width: 400px !important;
    height: 300px;
}

@media screen and (max-width: 450px){
    .wrestlemania_img {
        width: 280px !important;
        height: 230px;
    }
}

#arrow:hover {
    transition-property: transform;
    transition-duration: .5s;
    transform: rotate(360deg);  
}


ul {
    list-style: none;
    margin-left: -45px;
    max-width: 500px;

    li {
        display: inline-block;
        padding: 5px;
    }
}



// MEDIA QUERIES
@media screen and (max-width: 767px){

    .project_about {
        max-width: 500px;
        margin-top: -10px !important;
    }


    #crimpyIMG {
        width: 280px;
    }

    section article img {
        width: 280px;
        height: 200px;
    }
}